

header{
    text-align: center;
    padding: 20px 0px;
    background-image: url(img/wall.png);
    font-family:"Edu TAS Beginner", cursive;
}

main {
    background-image: url(img/cork.png);
    padding: 20px;
    height: 100%;
    padding: 100px ;
}

.container {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
}

.row {
    gap: 20px;
}

.col {
    display: flex;
    justify-content: center;
}

.card{
    border-radius: 0%;
    padding: 20px;
    width: fit-content;
    transition: all 0.5s;
    box-shadow: 5px 5px 2px black;
}

.card > img {
    border-radius: 0%;
}

.card-img-top {
    width: 200px;
    height: 200px;
}

.card-text {
   font-family: "Sometype Mono", monospace;
}
 
/* overlay  */

#overlay {
    position: fixed; 
    display: none; 
    width: 100%;
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2; 
    cursor: pointer; 
    
  }

  #inside-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.493);
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
  }

  #inside-container > button {
    font-size: 50px;
    color: rgb(255, 255, 255);
    width: fit-content;
    padding: 10px 15px;
    border: 0px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.6);

  }

  #inside-container > img {
    width: 500px;
    border-radius: 20px;
  }



/* hover */

.card:hover{
    transform: scale(1.2) rotate(10deg);
    z-index: 1;
    box-shadow: 10px 10px 5px black;
    
}

.card:hover .pin{
    display: none;
}
