

header{
    text-align: center;
    padding: 20px 0px;
    background-image: url(img/wall.png);
    font-family:"Edu TAS Beginner", cursive;
}

main {
    background-image: url(img/cork.png);
    padding: 20px;
    height: 100%;
}

.container {
    display: flex;
    justify-content: space-evenly;
    max-width: 1000px;
}

.row {
    gap: 20px;
}

.col {
    display: flex;
    justify-content: center;
}

.card{
    border-radius: 0%;
    padding: 20px;
    width: fit-content;
}

.card > img {
    border-radius: 0%;
}

.card-img-top {
    width: 200px;
    height: 200px;
}

.card-text {
   font-family: "Sometype Mono", monospace;
}